<%= form_for(@pokedex) do |f| %>
  <% if @pokedex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokedex.errors.count, "error") %> prohibited this pokedex from being saved:</h2>

      <ul>
      <% @pokedex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :pokemon_id %><br>
    <%= f.text_field :pokemon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
