<h1>Listing pokedexes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Pokemon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokedexes.each do |pokedex| %>
      <tr>
        <td><%= pokedex.numero %></td>
        <td><%= pokedex.pokemon %></td>
        <td><%= link_to 'Show', pokedex %></td>
        <td><%= link_to 'Edit', edit_pokedex_path(pokedex) %></td>
        <td><%= link_to 'Destroy', pokedex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokedex', new_pokedex_path %>
