<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @pokedex.id %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pokedex.numero %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= Pokemon.find(@pokedex.pokemon_id).nome %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_pokedex_path(@pokedex) %> |
<% end %>
<%= link_to 'Back', pokedexes_path %>
