<%= form_for(@treinador) do |f| %>
  <% if @treinador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treinador.errors.count, "error") %> prohibited this treinador from being saved:</h2>

      <ul>
      <% @treinador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :regiao %><br>
    <%= f.text_field :regiao %>
  </div>
  <div class="field">
    <%= f.label :pokebolas %><br>
    <%= f.number_field :pokebolas %>
  </div>
  <div class="field">
    <%= f.label :insignias %><br>
    <%= f.number_field :insignias %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
