<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= Tipo.find(@tipo_pokemon.tipo_id).nome %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= Pokemon.find(@tipo_pokemon.pokemon_id).nome %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_tipo_pokemon_path(@tipo_pokemon) %> |
<% end %>
<%= link_to 'Back', tipo_pokemons_path %>
