<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_pokemon.tipo %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @tipo_pokemon.pokemon %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_tipo_pokemon_path(@tipo_pokemon) %> |
<% end %>
<%= link_to 'Back', tipo_pokemons_path %>
