<h1>Listing pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cp</th>
      <th>Hp</th>
      <th>Treinador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.nome %></td>
        <td><%= pokemon.cp %></td>
        <td><%= pokemon.hp %></td>
        <td><%= pokemon.treinador %></td>
        <td><%= link_to 'Show', pokemon %></td>
	<% if current_user.role == "admin" %>
	        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
       		<td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == "admin" %>
 <%= link_to 'New Pokemon', new_pokemon_path %>
	<% end %>
