<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @pokemon.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @pokemon.nome %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @pokemon.cp %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokemon.hp %>
</p>

<p>
  <strong>Treinador:</strong>
  <%= Treinador.find(@pokemon.treinador_id).nome %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<% end %>
<%= link_to 'Back', pokemons_path %>
