<header>
    <div>
      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
                <li>
                  <%= link_to "Log out", sign_out_path, method: "delete" %>
                </li>
		<div><%= link_to 'Pokemons', pokemons_path %></div>
		<div><%= link_to 'Treinadors', treinadors_path %></div>
		<div><%= link_to 'Tipos', tipos_path %></div>
		<div><%= link_to 'Pokedexes', pokedexes_path %></div>
		<div><%= link_to 'TipoPokemons', tipo_pokemons_path %></div>
          <% else %>
            <li><%= link_to "Log in", root_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
