<header class="page_header">
	<nav>
          <% if logged_in? %>
		   <div class="aba"><%= link_to 'Pokemons', pokemons_path %></div>
		   <div class="aba"><%= link_to 'Treinadores', treinadors_path %></div>
		   <div class="aba"><%= link_to 'Tipos', tipos_path %></div>
		   <div class="aba"><%= link_to 'Pokedexes', pokedexes_path %></div>
		   <div class="aba"><%= link_to 'Tipo Pokemons', tipo_pokemons_path %></div>
                   <div class="aba"><%= link_to "Log out", sign_out_path, method: "delete" %></div>
          <% else %>
            <div class="aba"><%= link_to "Log in", root_path %></div>
          <% end %>
	</nav>
  </header>
