<!DOCTYPE html>
<html>
<head>
  <title>Trab5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div><%= link_to 'Pokemons', pokemons_path %></div>
		<div><%= link_to 'Treinadors', treinadors_path %></div>
		<div><%= link_to 'Tipos', tipos_path %></div>
		<div><%= link_to 'Pokedexes', pokedexes_path %></div>
		<div><%= link_to 'TipoPokemons', tipo_pokemons_path %></div>
	</header>
<%= yield %>

</body>
</html>
